
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); */

body{
    font-family: 'Lato', sans-serif;
}

/* Navbar */
.img-fluid.custom{
    max-width: 100px;
}
.h2.custom {
    font-size: clamp(1rem, 3vw + 1rem, 2.5rem);
}
.h4.custom{
    font-size: clamp(0.8rem, 1.5vw + 0.5rem, 1.5rem);
}
.storage{
    max-width: 300px;
}
.color-picker{
    max-width: 200px;
}
.input-copy{
    min-height: 50px;
}

